#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
pid-file        = /usr/local/mysql/mysqld/mysqld.pid
socket          = /usr/local/mysql/mysqld/mysqld.sock
datadir         = /usr/local/mysql/data
secure-file-priv= NULL
log-error       = /usr/local/mysql/logs/error.log
#port            = 3306
#user            = mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

[mysql.server]
basedir=/usr/local/mysql
[mysqld_safe]
socket		= /usr/local/mysql/mysqld/mysqld.sock
nice		= 0
[mysql]
socket      = /usr/local/mysql/mysqld/mysqld.sock
# Custom config should go here
#!includedir /etc/mysql/conf.d/
[mysql]
default-character-set=utf8